* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Orbitron", sans-serif;
}

body {
    background-color: #18181b;
    color: white;
}

/* shared  */
.container {
    border: 1px solid #404040;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    max-width: 1300px;
    backdrop-filter: blur(5px);
    box-shadow: 0px 4px 50px 0px #000000b2;
    border-radius: 10px;
    padding-top: 16px;
    padding-bottom: 40px;
}

.title {
    font-size: 14px;
    color: #40DDE3;
    padding: 16px 32px;
    border: 1px solid #40DDE3;
    border-radius: 26px;
    margin: 0 auto;
    width: fit-content;
    margin-top: 16px;
    margin-bottom: 5%;
}

.content-box {
    text-align: center;
    margin: 0 auto;
}

.content {
    margin-bottom: 3%;
    max-width: 860px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    color: #DEDEDE;
}

.primary-btn {
    background-color: #40dde3;
    border-radius: 5px;
    border: 1px solid #000000;
    padding: 8px 16px;
    color: #121213;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
}

/* nav part  */
#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    width: 150px;
}

#nav-btn {
    font-weight: 900;
}

#nav-btn>p {
    text-shadow: 0px 4px 4px #00000040;
}


/* main part */
main {
    background-image: url("../assets/Group\ 27.png");
    background-repeat: repeat-y;
    background-position: left top;
    background-size: contain;
    z-index: -2;
    margin-top: 40px;
}

/* hero section  */
#hero-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding: 80px 30px 0px;
    border: 1px solid #999999;
    border-radius: 29px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, #18181b 0%, rgba(24, 25, 27, 0) 100%);
    backdrop-filter: blur(5px);
    box-shadow: 0px 4px 50px 0px #000000b2;
    margin-bottom: 4px;
}

#hero-content>p {
    font-size: 26px;
    font-family: "DM Sans", sans-serif;
}

#vector-16 {
    position: absolute;
    height: 400px;
    left: 15%;
    z-index: 1;
}

#vector-17 {
    position: absolute;
    height: 500px;
    right: 15%;
    z-index: 1;
}

#vector-46 {
    position: absolute;
    height: 210px;
    left: 3%;
    bottom: 30%;
    z-index: -1;
}

#vector-47 {
    position: absolute;
    height: 210px;
    right: 12%;
    top: 10%;
    z-index: 1;
}

#hero>div>h1 {
    width: 996px;
    text-align: center;
    font-weight: 600;
    font-size: 78px;
    background: -webkit-linear-gradient(50.12deg,
            #292929 -2.37%,
            #ffffff 27.47%,
            #676767 51.64%,
            #ffffff 70.68%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.progress {
    background-color: #2a6263;
    border-radius: 100px;
    position: relative;
    width: 330px;
    border: 1px solid #40dde3;
    margin-bottom: 40px;
}

.progress-done {
    background-color: #40dde3;
    border-radius: 100px;
    color: black;
    font-size: 15px;
    width: 145px;
}

.progress-done>p {
    padding-left: 16px;
}

#notify {
    display: flex;
    align-items: center;
    border: 1px solid #404040;
    padding: 4px 5px 4px 20px;
    gap: 10px;
    margin-top: 4px;
    margin-bottom: 16px;
    border-radius: 10px;
    background: transparent;
}

#notify input {
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-size: 18px;
    box-shadow: 0px 4px 67px 0px #000000e0;
    font-family: "DM Sans", sans-serif;
}

#notify input::placeholder {
    color: #ffffff;
    opacity: 1;
}

#gray-part {
    width: 1240px;
    height: 40px;
    background-color: #8c8c8c;
    margin: 0px auto;
    border: 1px solid #999999;
    border-radius: 29px;
}

/* features part */
.features-box {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

#features-box-2 {
    grid-column: span 3;
    display: grid;
    justify-content: space-between;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
}

.concern-face-box {
    border: 1px solid #40dde3;
    background-color: #40dde333;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.concern-face {
    width: 30px;
    height: 30px;
}

.card-image {
    text-align: center;
}

.feature-card {
    width: 100%;
    max-width: 400px;
    height: 360px;
    border: 1px solid #404040;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.feature-card-2 {
    border: 1px solid #404040;
    border-radius: 10px;
    padding: 20px;
    display: flex;
}

.feature-card-2>div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.feature-card-content {
    text-align: start;
    margin-top: 20px;
}

.feature-card-content>h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.feature-card-content>p {
    font-size: 14px;
    color: #999999;
}

.feature-card-content>p>span {
    font-weight: bold;
}

/* our partnars section  */
.partner-card {
    border: 1px solid #404040;
    border-radius: 10px;
    padding: 20px;
}

/* faq */
/* faq part  */

#faq {
  margin-top: 10%;
}

.faq-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1300px;
  border-radius: 10px;
  padding-top: 16px;
}

.faq-box {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.faq-column {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex: 1;
  min-width: 300px;
}

.faq-item {
  backdrop-filter: blur(5px);
  box-shadow: 0px 4px 50px 0px #000000b2;
  border-radius: 10px;
  padding: 20px;
  cursor: pointer;
  transition: 0.3s ease;
  position: relative;
  border: 1px solid #404040;
}

.faq-question {
  font-size: 20px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-family: "DM Sans", sans-serif;
}

.faq-ans {
  margin-top: 18px;
  font-size: 14px;
  color: #ccc;
  display: none;
  text-align: left;
  font-family: "DM Sans", sans-serif;
}

.faq-item.active .faq-ans {
  display: block;
}

.faq-toggle {
  font-size: 32px;
  font-weight: 400;
  display: inline-block;
  transition: transform 0.3s ease;
}

.faq-item.active .faq-toggle {
  transform: rotate(45deg);
}
.faq-item.active .faq-question {
  color: #40dde3;
}

/* subcription part  */
#subcription {
  margin-top: 5%;
  font-size: 28px;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
#subcription-content {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 16px;
}

#subcription span {
  font-size: 18px;
}

#subcription h1 {
  margin-left: auto;
  text-align: center;
  font-weight: 600;
  background: -webkit-linear-gradient(
    92.12deg,
    #292929 -2.37%,
    #ffffff 27.47%,
    #676767 51.64%,
    #ffffff 70.68%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* footer part  */
#footer {
    margin-top: 10%;
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding-bottom: 12px;
    font-family: "Orbitron", sans-serif;
}

#site-info {
    display: flex;
    justify-items: right;
    align-items: center;
    gap: 24px;
    flex-wrap: nowrap;
}

#social-icons {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 24px;
    flex-wrap: nowrap;
}